/* Other rules */

* {
  font-family: "MaisonNeue";
}

/* HEADER */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1280px;
  margin: auto;
  padding: 10px 0;
  height: 120px;
}

.header input {
  width: 590px;
  padding-left: 40px;
  background-color: #f5f6f7;
  border-radius: 5px;
  height: 37px;
  border: none;
  outline: none;
  font-family: "MaisonNeue";
  font-size: 16px;
}

.header input::placeholder {
  color: #cbcccd;
  font-size: 16px;
}

.header img {
  height: 50px;
}

.header-button {
  height: 30px;
  width: 115px;
  border: 1px solid #2cb1ba;
  border-radius: 5px;
  font-family: "MaisonNeue";
  font-size: 12px;
  outline: none;
}

.login,
.signup {
  border: 1px #2cb1ba solid;
  height: 28px;
  width: 113px;
  padding: 5px 20px;
  font-size: 12px;
  color: #2cb1ba;
  border-radius: 5px;
  text-decoration: none;
}

.signup {
  margin-right: 20px;
}

.sellButton {
  height: 30px;
  width: 115px;
  font-size: 12px;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: #2cb1ba;
}

.deconnexion {
  height: 30px;
  border-radius: 5px;
  font-family: "MaisonNeue";
  font-size: 12px;
  outline: none;
  border: none;
  background-color: #c2175b;
  color: white;
  padding: 5px 20px;
}

.checkbox .knob {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid #666;
  border-radius: 100%;
  position: relative;
  width: 16px;
  height: 16px;
  left: 0;
  transition: left 100ms ease-in-out 0s;
  font-weight: bold;
}
.checkbox-input > input {
  display: none;
}
.checkbox-design {
  border-radius: 3px;
  padding: 2px 11px 2px 11px;
  margin: 0 15px 0 0;
  border: 1px solid black;
}
.checkbox-design-checked {
  border-radius: 3px;
  padding: 3px 6px 3px 6px;
  margin: 0 15px 0 0;
  background-color: #0ab1ba;
}
.form-button-div {
  display: flex;
  justify-content: flex-end;
}
.form-validation {
  background-color: #0ab1ba;
  color: white;
  border: none;
  font: inherit;
  outline: inherit;
  border-radius: 4px;
  padding: 12px 12px;
  margin: 50px 0;
}
.save-offer {
  background-color: transparent;
  color: #0ab1ba;
  border: 1px solid #0ab1ba;
  font: inherit;
  outline: inherit;
  border-radius: 4px;
  padding: 12px 12px;
  margin: 50px 15px 50px 0;
}

/* Checkbox */

.checkbox {
  margin-right: 25px;
}
.checkbox input[name="price"] {
  display: none;
}

.checkbox input[type="checkbox"]:checked + .wrapper .knob {
  left: 24px;
}
.checkbox .wrapper {
  background-color: #2cb1ba;
  border-radius: 10px;
  width: 42px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  outline: none;
}
/* ************************************** */

/* ****** HERO******* */

.hero {
  height: 455px;
  width: 100%;
  position: relative;
  background-position: center;
  background-size: cover;
  background-image: url("./asset/img/hero.jpg");
}

.hero > div {
  width: 1280px;
  margin: auto;
}

.imgDecoration {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 80px;
}

.encart {
  height: 220px;
  width: 360px;
  background-color: white;
  padding: 25px;
  border-radius: 3px;
  font-size: 34px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 75px;
  box-shadow: 0px 0px 2px rgba(17, 17, 17, 0.24);
}

.encart button {
  height: 45px;
  width: 187px;
  background-color: #2baeb7;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  border: none;
  padding: 0 14px;
  margin-top: 32px;
}

.descriptionDetail {
  display: flex;
  justify-content: space-between;
}

.detailKey {
  color: #999999;
}

.detail {
  color: #666666;
}

/* ****** home ****** */

.offers {
  width: 1280px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 30px;
}

.offer {
  width: 235px;
  height: 450px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  justify-content: space-between;
  font-size: 12px;
  color: inherit;
  text-decoration: inherit;
}

.img {
  height: 360px;
  object-fit: cover;
}

.offerinfo {
  display: flex;
  flex-direction: column;
  padding: 8px;
}

.offerinfo span:first-child {
  font-size: 14px;
}

.offerinfo span:not(:first-child) {
  font-size: 12px;
  color: #999999;
}

/* ******* OFFER ****** */

.offerCard {
  background-color: #ebedee;
  width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.offerPicture {
  height: 600px;
  object-fit: cover;
}

.offerInformation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 400px;
  padding: 40px;
  box-sizing: border-box;
}

.price {
  font-size: 24px;
  line-height: 32px;
  color: #111111;
}

li {
  list-style-type: none;
}

li span {
  flex: 1;
  font-size: 14px;
  text-transform: uppercase;
}

.productTitle {
  font-weight: bold;
}

.productDescription {
  color: #8f8f8f;
}

.username {
  display: flex;
  align-items: center;
}

.avatar {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.buy-button {
  background-color: #2cb1ba;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: inherit;
  border-radius: 5px;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #e7e7e7;
  margin: 24px 0;
}

/* ******* SIGNUP ******** */

.containerSignup h2 {
  text-align: center;
}

.containerSignup {
  display: flex;
  flex-direction: column;
  width: 275px;
  margin: auto;
}

.formSignup input {
  border: none;
  outline: none;
  border-bottom: 1px solid #f8ced3;
  height: 35px;
  width: 275px;
  margin-bottom: 20px;
}

.header input::placeholder {
  color: #d6d7d8;
  font-size: 16px;
}

.form-checkbox {
  display: flex;
}

.signup-alert {
  color: #999;
  font-size: 12px;
}

.signup-button {
  height: 45px;
  width: 100%;
  background-color: #2cb1ba;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

.login-link {
  text-align: center;
  text-decoration: inherit;
  color: #2cb1ba;
  font-size: 12px;
  margin-top: 20px;
}

.errorMessage {
  color: red;
  font-size: 9px;
  text-align: center;
}

/* ******* LOGIN ******* */

.container-login {
  display: flex;
  flex-direction: column;
  width: 275px;
  margin: auto;
}

.container-login h2 {
  text-align: center;
}

.formLogin input {
  border: none;
  outline: none;
  border-bottom: 1px solid #f8ced3;
  height: 35px;
  width: 275px;
  margin-bottom: 20px;
}

.login-button {
  height: 45px;
  width: 100%;
  background-color: #2cb1ba;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  margin-top: 20px;
}

.signup-link {
  text-align: center;
  text-decoration: inherit;
  color: #2cb1ba;
  font-size: 12px;
  margin-top: 20px;
}

/* ****** PUBLISH ********** */

.publish-description,
.publish-details,
.publish-price,
.publish-img {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 16px;

  box-shadow: 0 0 2px grey;
}

.body-publish {
  background-color: #ebedee;
}

.publish-container {
  width: 1280px;
  margin: 0 auto;
}
.publish-img {
  height: 246px;
}

.body-publish input {
  width: 50%;
  border: none;
  border-bottom: 1px solid #ebedee;
  color: #000;
  font-family: "MaisonNeue";
  font-size: 16px;
}

.text-input {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ebedee;
  padding: 24px;
}

.preview-img {
  width: 150px;
}

/* ******* payment ****** */
.formPage {
  background-color: #ebedee;
  height: 180px;
}
.checkoutForm {
  background-color: white;
  width: 600px;
  margin: 0 auto;
  padding: 36px 20px;
}

.checkoutFormTitle {
  font-size: 14px;
  line-height: 18px;
  color: #999;
}

.price,
.totalPrice {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  line-height: 22px;
  color: #666;
  padding: 4px 0;
}

.totalPrice {
  padding-top: 24px;
  color: #000;
  font-weight: 700;
}

.payButton {
  width: 100%;
  font-size: 16px;
  height: 44px;
  border: none;
  background-color: #55bb6c;
  color: white;
  margin-top: 10px;
  border-radius: 5px;
}

.bold {
  font-weight: bold;
}
