/* Other rules */

/* HEADER */

.header {
  height: 120px;
  display: flex;
  justify-content: space-around;
}

.header button {
  height: 30px;
  border-radius: 5px;
  background-color: #fff;
}

.header input {
  height: 30px;
  width: 200px;
  border-radius: 5px;
}

.header img {
  height: 50px;
}

/* ************************************** */

.offers {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  /* flex-direction: column; */
  flex-wrap: wrap;
  justify-content: space-between;
}

.offer {
  width: 235px;
  height: 450px;
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  justify-content: space-between;
}

.img {
  height: 360px;
  object-fit: cover;
}
